<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Streamlit Bank Authenticator</title>
</head>
<body>
    <h2>Streamlit Bank Authenticator</h2>
    <form id="prediction-form">
        <input type="text" id="text-input" placeholder="Type Here">
        <input type="button" value="Predict" onclick="predict()">
    </form>
    <div id="result"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function predict() {
            var text = document.getElementById('text-input').value;
            var data = { "text": text };
            axios.post('/predict', data)
                .then(function (response) {
                    document.getElementById('result').innerHTML = 'The output is ' + response.data.result;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</body>
</html>
