<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
    <style>
        body {
            background-color: hsl(184, 52%, 83%);
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        h1 {
            color: hsl(334, 57%, 5%);
            font-size: 32px;
            text-align: center;
        }
        
        
    </style>
</head>
<body>
    {% if text %}
        <h1 style="color: #110909; font-size: 36px;">Text is: {{text}}</h1>
    {% else %}
        <h1 style="color: #120808; font-size: 36px;">Text is:</h1>
    {% endif %}
</body>
</html>
